  <div class="card-group p-x-3">
    <div class="card card-inverse"  style="background-color: #009688;">
      <%= link_to new_personal_step_path do  %>

          <div class="card-block">
        <img class="card-img-top card img-responsive img-thumbnail"  src="/images/curp_pict.png" style="" >
      </div>
      <div class="card-block" style=" ">
        <h4 class="card-title">Crear documento personal</h4>
        <ul class="list-group card-text">
          <li class="list-group-item">Acta de nacimiento</li>
          <li class="list-group-item">CURP</li>
          <li class="list-group-item">INE</li>
        </ul>
      </div>
          <% end %>
    </div>
    <div class="card card-inverse"  style="background-color: #03A9F4;">
      <div class="card-block">
        <img class="card-img-top card img-responsive img-thumbnail" src="/images/diploma_pict.png" >
      </div>
      <div class="card-block">
        <h4 class="card-title">Crear documento formación profesional</h4>
        <ul class="list-group card-text">
          <li class="list-group-item">Título de licenciatura</li>
          <li class="list-group-item">Diploma de especialidad</li>
          <li class="list-group-item">Diplomado</li>
        </ul>
      </div>
    </div>
    <div class="card card-inverse"  style="background-color:#673AB7;">
      <div class="card-block">
        <img class="card-img-top img-responsive img-thumbnail" src="/images/book_pict.png">
      </div>
      <div class="card-block">
        <h4 class="card-title">Crear documento de publicación</h4>
        <ul class="list-group card-text">
          <li class="list-group-item">Publicación en revistas de medicina</li>
          <li class="list-group-item">Publicación en libors de medicina</li>
        </ul>
      </div>
    </div>
    <div class="card card-inverse" style="background-color: #FFC107">
      <div class="card-block">
        <img class="card-img-top img-responsive img-thumbnail" src="/images/curp_pict.png" style=" box-shadow: 10px 10px 5px #888888;">
      </div>
      <div class="card-block">
        <h4 class="card-title">Crear documento de asistencia a eventos</h4>
        <ul class="list-group card-text">
          <li class="list-group-item">Publicación en revistas de medicina</li>
          <li class="list-group-item">Publicación en libors de medicina</li>
        </ul>
      </div>
    </div>
    <div class="card card-inverse" style="background-color: #607D8B">
     <div class="card-block">
        <img class="card-img-top img-responsive img-thumbnail" src="/images/curp_pict.png" style=" box-shadow: 10px 10px 5px #888888;">
     </div>
      <div class="card-block">
        <h4 class="card-title">Crear documento de Actividad</h4>
        <ul class="list-group card-text">
          <li class="list-group-item">Publicación en revistas de medicina</li>
          <li class="list-group-item">Publicación en libors de medicina</li>
        </ul>
      </div>
    </div>
  </div>
