<!-- jumbotron -->
<div class="jumbotron  navbar-dark bg-inverse img-rounded" style="background-color: darkred; background: url('images/docus_bg.png') no-repeat; background-size: cover;">
  <div class='container text-sm-center p-t-3'>
    <h1 class="display-2">Docus</h1>
    <p class="lead">Sistema en línea de captura de docuemntos para certificación</p>
  </div>
</div>
<!-- /jumbotron -->
<div class="container">
  <!-- About -->
  <div class="row">
    <div class="col-lg-4 col-xl-push-4">
      <h3 id="about" class="m-b-2">Sistemas Libres computacionales</h3>
      <img class="img-fluid img-round hidden-xs-down " src="images/silico.png" alt="Silico Logo" />
      <p>Sistemas Libres Computacionales</p>
      <p>Somos especialistas en elaboración de soluciones para asistir en la evaluación de espacialistas médicos.</p>
    </div>
    <div class="col-lg-4 col-xl-pull-4">
      <h3 class="m-b-2">¿Qué es Docus?</h3>
      <p>Docus es un sistema de información en línea diseñado ex profeso para permitir a los aspirantes y al Consejo concentrar y administrar la información de los aspirantes de una manera práctica, sencilla y eficiente.</p>
    </div>
    <div class="col-md-4 col-xl-4">
      <h3 class="m-b-2">Ventajas de docus</h3>
      <div class="list-group">
        <a href="#" class="list-group-item"><strong>Roles de usuario.</strong>  Facilita la administración y mejora la seguridad de la información</a>
        <a href="#" class="list-group-item"><strong>Presencia en línea.</strong> Siempre disponible y a la mano</a>
        <a href="#" class="list-group-item"><strong>Diseñado para móviles.</strong>  Interface optimizada para teléfonos inteligentes y tabletas
</a>
        <a href="#" class="list-group-item"><strong>Respaldo de datos en “la nube”</strong> Disponibilidad de la información en todo momento.</a>
        <a href="#" class="list-group-item"><strong>Diseño amigable</strong> Sigue tendencias modernas de estética y funcionalidad orientadas a hacerlo agradable y fácil de usario</a>
      </div>
    </div>
  </div>
  <!-- /about -->

</div>
