<!-- jumbotron -->
<div class="jumbotron  navbar-dark bg-inverse img-rounded" style="background-color: darkred; background: url('images/docus_bg.png') no-repeat; background-size: cover;">
  <div class='container text-sm-center p-t-3'>
    <h1 class="display-2">Docus</h1>
    <p class="lead">Sistema en línea de captura de docuemntos para certificación</p>
  </div>
</div>
<!-- /jumbotron -->
<div class="container">
  <!-- About -->
  <div class="row">
    <div class="col-lg-4 col-xl-push-4">
      <h3 id="about" class="m-b-2">Sistemas Libres computacionales</h3>
      <img class="img-fluid img-round hidden-xs-down " src="images/silico.png" alt="Silico Logo" />
      <p>Sistemas Libres Computacionales</p>
      <p>Somos especialistas en elaboración de soluciones para asistir en la evaluación de espacialistas médicos.</p>
    </div>
    <div class="col-lg-4 col-xl-pull-4">
      <h3 class="m-b-2">¿Qué es Docus?</h3>
      <p>Docus es un sistema de administración y adquisición</p>
      <p>[Màs sobre docus].</p>
    </div>
    <div class="col-md-4 col-xl-4">
      <h3 class="m-b-2">Ventajas de docus</h3>
      <div class="list-group">
        <a href="#" class="list-group-item"><strong>MongoDB</strong>: NoSQL database</a>
        <a href="#" class="list-group-item"><strong>Angular</strong>: JavaScript framework </a>
        <a href="#" class="list-group-item"><strong>Express</strong>: Framework for Node</a>
        <a href="#" class="list-group-item"><strong>Node.js</strong>: JavaScript environment</a>
        <a href="#" class="list-group-item"><strong>ES2015</strong>: Latest version of JavaScript</a>
        <a href="#" class="list-group-item"><strong>Babel</strong>: JavaScript compiler</a>
      </div>
    </div>
  </div>
  <!-- /about -->

</div>