<div class="container" style="margin: auto; ">

  <div class="card" style="background-image: url('/images/docus_bg.png'); overflow: scroll;">
    <div class="card m-t-3 m-b-0" style="">
      <div class="card-block">
        <p class="card-text">Entre los documentos personales tenemos</p>
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons" style="background-color: teal; font-family: 'Roboto Condensed', sans-serif;">AN</i>
            </div>
            <div class="row-content">
              <div class="least-content">Presente</div>
              <h4 class="list-group-item-heading">Acta de nacimiento</h4>

              <p class="list-group-item-text">Más datos sobre el acta de nacimiento.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <i class="material-icons" style="background-color: #303F9F;; font-family: 'Roboto Condensed', sans-serif;">AN</i>
            </div>
            <div class="row-content">
              <div class="least-content">Presente</div>
              <h4 class="list-group-item-heading">Acta de nacimiento</h4>

              <p class="list-group-item-text">Más datos sobre el acta de nacimiento.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>

        </div>
        <%= link_to wizard_path(:image), class: 'btn btn-fab btn-primary' do %>
            <i class="material-icons">keyboard_arrow_right</i>
        <% end %>
      </div>
    </div>
  </div>




</div>