<% if page.current? %>
  <li class='page-item disabled'>
    <%= content_tag :a, page, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: 'page-link' %>
  </li>
<% else %>
  <li class='active page-item'>
    <%= link_to page, url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: 'page-link' %>
  </li>
<% end %>
