<div class="jumbotron bg-inverse bg m-t-3">
  <h1 class="display-3">Documento de Actividad Académica</h1>
</div>
<p id="notice"><%= notice %></p>
<style>
  .bg{
    background: url("/images/docus_bg.png") no-repeat top center fixed;
    background-size: cover;
    height: 10rem;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
  }
</style>
<div class='row m-x-1 p-x-1 navbar-fixed-bottom'>
  <ul class="nav nav-inline p-x-1 p-y-1">
    <li class="nav nav-inline p-x-1">
      <%= link_to  academic_activity_documents_path, class: 'btn btn-info btn-fab' do %>
          <i class="material-icons">keyboard_arrow_left</i>
      <% end %>
    </li>
  </ul>
</div>
<div class="container">
    <%= render 'form' %>
</div>
