<div class="navbar navbar-fixed-top navbar-warning navbar-main">
  <div class="nav navbar-warining">
    <%= link_to root_path, class: 'navbar-link' do %>
      <i class="material-icons hidden-md-up">home</i>
      <i class="hidden-md-down">Inicio</i>
    <% end %>
    <%= link_to user_dashboard_path, class: 'navbar-link' do %>
      <i class="material-icons hidden-md-up">account_circle</i>
      <i class="hidden-md-down">Mis datos</i>
    <% end %>
    <%= link_to '/asistente', class: 'navbar-link' do %>
      <i class="material-icons hidden-md-up">note_add</i>
      <i class="hidden-md-down">Asistente</i>
    <% end %>
  </div>

</div>
